.Chat {
  position: fixed;
  bottom: 10px;
  left: 10px;

  display: flex;
  flex-direction: column;
  gap: 8px;

  padding: 8px;
  background-color: rgba(#1f0036, 0.33);
  border-radius: 10px;
  font-family: "Courier New", Courier, monospace;
}

.ChatMessagesContainer {
  width: 100%;
  height: 200px;
  width: 400px;
  display: flex;
  flex-direction: column-reverse;
  gap: 2px;
  overflow-y: scroll;
}

.ChatMessage {
  width: 100%;
  max-width: 400px;

  word-wrap: break-word;
}

.ChatMessageTimestamp {
  display: inline-block;
  margin-right: 4px;
  color: #ffd700;
}

.ChatMessageNickname {
  display: inline-block;
  margin-right: 4px;
  font-weight: 700;
  color: #009d6b;
}

.ChatMessageValue {
  display: inline;
}

.ChatInput {
  display: flex;
  gap: 2px;
  align-items: center;

  textarea {
    flex-grow: 1;
  }

  textarea,
  button {
    display: block;
    height: 30px;
  }
}
